@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Bungee&family=Nabla&family=Roboto:wght@300&family=Rubik+Mono+One&family=Staatliches&display=swap');

:root {
    --body-bg: white;
    --body-color: Black;
    --containers-bg: rgb(245, 245, 245);
    --container-color: rgb(150, 150, 150);
    --highlight-color: rgb(250, 212, 42);
    --hover-color: ;
    --button-shadow-color: rgba(0, 0, 0, 0.37);
}

.dark-mode:root {
    --body-bg: #000000;
    --body-color: white;
    --containers-bg: #212125;
    --container-color: rgb(226, 226, 226);
    --highlight-color: rgb(250, 212, 42);
    --hover-color: ;
    --button-shadow-color: rgba(0, 0, 0, 0.37);
}

body {
    margin: 0;
    background-color: var(--body-bg)
}

.main-login  {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-items: center;
    align-items: center;
}

.left-login {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-login > h1 {
    color: var(--highlight-color);
    margin: 0;
}

.left-login > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.left-login > h3 {
    font-family: 'Roboto', sans-serif;
    color: var(--body-color);
}

#img {
    width: 60%;
}

.right-login {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--containers-bg);
    padding: 30px 35px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.37);
    border-radius:15px;
}

.card-login  h1 {
    color: var(--body-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0px;
}

.textfield > input {
    
    width: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 15px;
    font-size: 12pt;
    box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.37);
}

.button-login {
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0px 5px 20px var(--button-shadow-color);
    margin: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background: var(--highlight-color)
}

.button-login:hover {
    background: rgba(245, 195, 40, 0.877);
}

.card-login > a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--body-color);
    margin-bottom: 10px;
}

footer {
    height: 20vh;
    background: var(--containers-bg);
    font-family: 'Roboto', sans-serif;
}
.top-footer-login {
    height: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: smaller;
    color: var(--container-color);
}

.top-footer-left {
    width: 80vw;
    padding: 10px;
}

.top-footer-left > a {
    text-decoration: none;
    color: var(--container-color);
    padding: 10px;
}

.top-footer-right {
    width: 31vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.switch  .switch-text {
    color: var(--container-color);
    padding-right: 1vw;
}

.switch .switch-wrapper {
    display: inline-block;
    width: 45px;
    height: 22px;
    position: relative;
}

.switch .switch-wrapper .switch-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: #475569;
}

.switch .switch-wrapper input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .switch-wrapper .switch-button::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    transition: 0.5s all ease;
    background-color: aliceblue;
}

.switch .switch-wrapper input:checked + .switch-button {
    background-color: var(--highlight-color)
}

.switch .switch-wrapper input:checked + .switch-button::before {
    transform: translateX(22px);
}

.footer-line {
    margin: 0;
}

.login-links {
    height: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: smaller;
}

.login-links > a {
    color: var(--container-color);
    text-decoration: none;
    padding: 10px;
}



@media only screen  and (max-width: 950px) {
    .main-login {
        flex-direction: column;
    }
    .card-login {
        width: 100%;
    }
    .left-login {
        height: 30%;
    }
    #img {
        display: none;
    }
}

@media only screen  and (max-width: 580px) {
    .top-footer-left {
        width: 70vw;
    }
    .top-footer-right {
        width: 30vw;
    }
}

@media only screen and (max-height: 910px) {
    .left-login > h3 {
        display: none;
    }
    footer {
        height: 20vh;
    }
    .card-login {
        height: 80%;
    }
}